#!/usr/bin/env bash

# This script helps you keep track of the parameters needed to upgrade a Fusion cluster in Kubernetes
# vs. having to remember all the --values parameters you need to pass

PROVIDER=gke
CLUSTER_NAME=search
RELEASE=f5
NAMESPACE=default
CHART_VERSION=5.0.2

MY_VALUES="--values ${PROVIDER}_${CLUSTER_NAME}_${RELEASE}_fusion_values.yaml"
# TODO: append more --values files here as needed for your installation, e.g.
#MY_VALUES="${MY_VALUES} --values ${PROVIDER}_${CLUSTER_NAME}_${RELEASE}_fusion_affinity.yaml"

current_context=$(kubectl config current-context | grep $CLUSTER_NAME)
if [ "" == "" ]; then
  echo -e "\nERROR: Current kubeconfig not pointing to the $CLUSTER_NAME cluster!\nPlease update your current config to the correct cluster for upgrading Fusion.\n"
  exit 1
fi

helm upgrade ${RELEASE} "lucidworks/fusion" --namespace "${NAMESPACE}" --version "${CHART_VERSION}" ${MY_VALUES}
