---

apiVersion: "policy/v1beta1"
kind: "PodDisruptionBudget"
metadata:
  name: "{{ template "fusion.connectors.fullname" . }}"
  labels:
    {{ include "fusion.connectors.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      app.kubernetes.io/instance: "{{ .Release.Name }}"
      app.kubernetes.io/component: "{{ .Values.component }}"
      app.kubernetes.io/part-of: "fusion"
  {{ toYaml .Values.podDisruptionBudget | nindent 2 }}
